.wrapper{
    max-width: 800px;
    margin: auto;
    background: var(--bg_2);
    &--header{
        background: var(--main);
        margin-bottom: 10px;
    }

    &--footer{
        background: var(--main);
        margin-top: 10px;
    }
}
.container{
    display: flex;
    &--left-menu{
        background: var(--bg);
        margin-right: 10px;
        border-radius: 10px;
        padding: 10px;
    }
    &--main{
        background: var(--bg);
        border-radius: 10px;
        padding: 10px;
    }
    &--right-menu{
        background: var(--bg);
        margin-left: 10px;
        border-radius: 10px;
        padding: 10px;
    }
}




