.footer{
    background: var(--main);
    color: var(--fg);

    &--items{
        max-width: var(--page-width);
        margin: auto;
        padding: 4px;
        display: flex;
        justify-content: center;
    }
}
