.title{
    margin: 0px;
    color: var(--main);
    font-weight: 700;
    white-space: nowrap;
    display: flex;
    align-items: center;
}

.title-primary{
    color: var(--main);
}

.title-secondary{
    color: var(--bg_2);
}

.title-xs{
    font-size: var(--font-size-xs);
}

.title-md{
    font-size: var(--font-size-md);
}

.title-lg{
    font-size: var(--font-size-lg);
}

.icon{
    // margin-right: 5px;
}

.icon-separation-none{
    margin-right: 0px;
}

.icon-separation-sm{
    margin-right: 5px;
}

.icon-separation-md{
    margin-right: 10px;
}
