.note-operations{
    &--header{
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
    }
    &--body{
        padding: 10px 20px;
        display: grid;
        row-gap: 10px;
    }
}
