.tag-item {
    border: solid 2px var(--fg);
    padding: 10px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background: var(--bg_2);
    &--body {
        display: flex;
        justify-content: space-between;
        .actions {
            border: solid royalblue 2px;
        }
    }
    &--footer {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: var(--fg);
        .actions {
            display: flex;
        }
    }
}
