.tag-item{
    // border: dashed 2px royalblue;
    padding: 10px;
    border-radius: 12px;
    box-shadow: var(--shadow);
    background: var(--bg_2);
    &--body{
        display: flex;
        justify-content: space-between;
        // border: solid;
        .acctions{
            // border:  solid royalblue 2px;
        }
    }
    &--footer{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}
