.input{
    width: 100%;
    &--label{
        color: var(--main);
        font-weight: 700;
        &-sm{
            padding: 0px 5px;
            font-size: var(--font-size-xs);
        }
        &-md{
            padding: 5px 15px;
            font-size: var(--font-size-md);
        }
        &-lg{
            padding: 5px 20px;
            font-size: var(--font-size-lg);
        }
    }

    &--element{
        background: var(--bg_2);
        color: var(--fg);
        border: none;
        border-radius: 35px;
        width: 100%;
        box-shadow: var(--shadow-inner);

        &-default{
            border: none;
    outline: none;
        }

        &-success{
            outline: solid 2px var(--success);
        }

        &-error{
            outline: solid 2px var(--bad);
        }

        &-disable{
            background: var(--disable);
            color: var(--fg);
            border: none;
            border-radius: 35px;
        }

        &-sm{
            padding: 2px 5px;
        }

        &-md{
            padding: 10px 15px;
        }

        &-lg{
            padding: 15px 20px;
        }
    }

    &--element:focus{
        background: var(--bg_2);
        color: var(--fg);
        border: none;
        border-radius: 35px;
        width: 100%;
    }
}
