.color-main {
    color: var(--main);
}

.btn{
    background: var(--main);
    color: var(--bg_2);
    border-radius: 35px;
    padding: 10px 20px;
    border: none;
    box-shadow: var(--shadow);
    cursor: pointer;
}

.btn-disable{
    background: var(--disable);
    cursor: default;
}
