.preview--container{
    width: 100%;
    padding: 10px;
    position: relative;
    background: var(--bg);
    // border: dashed 2px var(--dark);
}

.options{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
}

.theme-option{
    border: none;
    background: var(--bg);
}
