// body{
//     font-family: 'Merienda', cursive !important;
// }

.preview--container{
    border: solid;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.preview--container-light{
    border: dashed 2px var(--main);
    background-color: var(--bg);
    padding: 20px;
}

.preview--container-dark{
    border: dashed 2px var(--main);
    background-color: var(--bg);
    padding: 20px;
}
