.preview--container {
    width: 100%;
    min-height: 300px;
    padding: 10px;
    position: relative;
    background: var(--bg);
    border: dashed 1px var(--dark);
}

.options {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
}

.theme-option {
    border: none;
    background: var(--bg);
}
