.header--wrapper {
    box-shadow: var(--shadow);
    height: var(--height-header);
}

.footer--wrapper {
    box-shadow: var(--shadow);
    height: var(--height-footer);
}
.main-wrapper{
    height: var(--height-main);
    background: var(--bg);
        overflow-y: auto;
    .wrapper{
        max-width: var(--page-width);
        margin: auto;
    }
}
