.notes{
    &--header{
        padding: 10px 20px;
        position: sticky;
        .options-top{
            display: flex;
            justify-content: space-between;
        }
    }
    &--items{
        padding: 10px 20px;
        display: grid;
        row-gap: 10px;
        overflow-y: auto;
    }
}
