body {
    position: relative;
    margin: 0px;
    padding: 0px;
    background-color: var(--light-disabled);
    color: var(--fg);
    font-family: var(--font-family);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}

*::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: var(--dark) !important; /* color of the tracking area */
    box-shadow: var(--shadow-inner);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--primary); /* color of the scroll thumb */
    border-radius: var(--border-radius); /* roundness of the scroll thumb */
}

a {
    font-style: italic;
    text-decoration: none;
    // text-decoration: var(--fg) underline dotted;
}

/* unvisited link */
a:link {
    color: var(--fg);
}

/* visited link */
a:visited {
    color: var(--fg);
}

/* mouse over link */
a:hover {
    color: var(--secondary);
    text-decoration: var(--secondary) underline dotted;
}

/* selected link */
a:active {
    color: var(--dark);
}

table {
    border-collapse: collapse;
    margin: auto;
    th {
        text-align: center;
    }
    th,
    td {
        border: solid 1px var(--fg);
    }
}

blockquote {
    padding: 10px;
    margin: 12px;
    border-left: solid 3px var(--primary);
    box-shadow: var(--shadow-sm-fg);
    border-radius: 3px;
    color: var(--fg);
}
