.home-page {
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    // height: 100vh;
    height: 100%;
    background: var(--bg);
    p {
        max-width: 300px;
        color: var(--fg);
    }
    ul {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        padding-left: 0px;
    }
    li {
        list-style: none;
        font-size: 24px;
        a {
            text-decoration: none;
        }
    }
}
.logo {
    background-image: url("../../../../assets/palace.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 200px;
}
