@import "./app/presentation/scss/settings.scss";
@import "./app/presentation/scss/generic.scss";
@import "./app/presentation/scss/elements.scss";

body {
    position: relative;
}
.m-sm {
    margin: 5px;
}

.m-md {
    margin: 10px;
}

.m-lg {
    margin: 15px;
}

.mr-sm {
    margin-right: 5px;
}

.bottom-shadow {
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
}
