.form{
    background: var(--bg);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.747);
    padding: 20px;
    max-width: 500px;
}

.form-header{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.form-body{
    width: inherit;
    // border: solid;

}

.form-footer{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
