.form{
    background: var(--bg);
    border-radius: 10px;
    box-shadow: var(--shadow);
    padding: 20px;
    width: inherit;
}

.form-header{
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
}

.form-body{
    width: 100%;
    // border: solid;

}

.form-footer{
    padding-top: 10px;
    display: flex;
    justify-content: center;
}
