.tags{
    &--header{
        padding: 10px 20px;
        background: var(--bg);
        position: sticky;
        top: 0;
        .options-top{
            display: flex;
            justify-content: space-between;
        }
    }
    &--items{
        padding: 10px 20px;
        display: grid;
        row-gap: 10px;
        max-height: inherit;
        overflow-y: auto;
    }
}
